.credits {
  background: #3587ad;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: center;

  h2 {
    max-width: fit-content;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    color: #3587ad;
    text-shadow: 1px 1px 2px rgb(106, 106, 106);
    background: #ffffff;
    box-shadow: 20px 20px 40px hsla(0, 0%, 0%, 0.734);
    border-radius: 5px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2rem;
  list-style: none;
  place-items: center;
  overflow: auto;
  padding: 2rem;
  margin: 0;
}

.frame {
  display: flex;
  place-items: center;
  height: 5vh;
  padding: 1.5rem 0.75rem;
  background: #ffffff;
  box-shadow: 20px 20px 40px hsla(0, 0%, 0%, 0.734);
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;

  img {
    width: 100%;
  }

  &:hover {
    transform: scale(1.25);
  }
}

@media screen and (min-width: 320px) and (max-width: 440px) {
  .credits h2 {
    font-size: smaller;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 10px 10px 20px hsla(0, 0%, 0%, 0.734);
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
  }

  .frame {
    height: 2.5vh;
    padding: 0.5rem;
    box-shadow: 10px 10px 20px hsla(0, 0%, 0%, 0.734);
  }
}
