.credits {
  list-style: none;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2rem;
  place-items: center;
  overflow: auto;
  background: #ffffff;
  border-radius: 10px;
}

.credits img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease;
}

.credits img:hover {
  transform: scale(1.25);
}
