.ship {
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
  display: flex;
  border-radius: 0;
  overflow: auto;

  > img {
    width: 640px;
    opacity: 0.8;
  }
}

@media screen and (min-width: 320px) and (max-width: 440px) {
  .ship {
    width: 100%;
    border-radius: 0;

    > img {
      width: 67%;
    }
  }
}

@media screen and (min-width: 864px) {
  .ship {
    border-radius: 5%;

    img {
      border-radius: 5% 0 0 5%;
    }
  }
}
