.ship-info {
  color: #d4d8de;
  text-shadow: 1px 1px 2px #080808;
  font-size: 0.8rem;
  background-color: rgba(47, 49, 54, 0.7);
  border-radius: 0 5% 5% 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ship-info h4 {
  margin-left: auto;
  color: rgb(184, 154, 79);
  text-align: end;
  background: rgb(255, 255, 255, 0.1);
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.3rem;
}

.ship-info h2 {
  margin: 0 0.5rem 2rem;
}

.ship-info article {
  padding: 2rem;
  background: rgb(255, 255, 255, 0.1);
}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: auto;
  font-size: smaller;
  color: rgb(184, 154, 79);
}

.icons p {
  margin: 0.5rem;
  color: #d4d8de;
}

@media screen and (max-width: 900px) {
  .ship-info {
    border-radius: 0;
  }
}
