/* config when in grid */
.ship-grid {
  background-color: rgba(26, 143, 189, 0.474);
}

/* config when in rows */
.ship-rows {
  background-color: rgba(0, 0, 0, 0.374);
  min-width: 12rem;
}

.ship-rows .slogan {
  color: #99ad35;
}

/* global config */
.ship-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  color: #EFEFEF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.ship-item img {
  height: auto;
  width: 100%;
}

.ship-item h6 {
  max-height: 1em;
  padding: 0.5rem;
  margin: 1rem;
}

.slogan {
  padding: 0 1rem;
  height: 2em;
  font-size: x-small;
}

.price {
  display: flex;
  font-size: x-small;
  font-weight: bold;
  color: #ca7d1f;
  justify-content: end;
  margin-right: 0.5rem;
}

.icons {
  display: flex;
  gap: 0.2em;
  padding: 0.5rem 0.2rem;
}

.price span {
  margin: auto 0;
}
