/* config when in grid */
.ship-grid {
  background-color: rgba(26, 143, 189, 0.474);
}

/* config when in rows */
.ship-rows {
  background-color: rgba(0, 0, 0, 0.374);
  width: 12rem;
}

.ship-rows .slogan {
  color: #99ad35;
}

/* global config */
.ship-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  color: #efefef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  img {
    height: auto;
    width: 100%;
  }

  h6 {
    height: 2.5rem;
    margin: 0;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slogan {
    padding: 0 1rem;
    margin-bottom: 0;
    height: 2rem;
    font-size: x-small;
  }

  .price {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.2rem;
    padding: 0.5rem;
    font-size: x-small;
    font-weight: bold;
    color: #ca7d1f;

    .icons {
      display: flex;
      gap: 0.2em;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 440px) {
  .ship-rows {
    width: 8rem;
  }

 .ship-item {
    h6 {
      font-size: 50%;
      height: 2rem;
    }

    .slogan {
      padding: 0 0.5rem;
      height: 1rem;
      font-size: 45%;
    }

    .price {
      font-size: 45%;
      padding-bottom: 0.3rem;
    }
  }
}
