.ship-grid {
  background-color: rgba(26, 143, 189, 0.274);
}

.ship-rows {
  background-color: rgba(31, 32, 33, 0.274);
}

.ship-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* max-width: 200px; */
  /* margin: 0 1rem; */
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ship-item h4 {
  padding: 0.5rem;
  margin: auto;
  color: #EFEFEF;
  display: flex;
  place-items: center;
  /* height: 2rem; */
}

.ship-item img {
  width: 100%;
  max-height: 15rem;
  object-fit: cover;
}

.ship-item p {
  margin: 0;
}

.ship-info {
  padding: 1rem;
  font-size: 0.8rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  /* height: 2rem; */
}

.price {
  font-weight: bold;
  color: #ca7d1f;
  text-align: end;
  padding: 0 0.5rem 0.5rem 0;
}
