/* for grid layout */
.ship-grid {
  margin: 0 20%;
  padding: 1% 0 5%;
  display: grid;
  grid-gap: 2rem;
  list-style: none;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* for scrollX layout */
.ships-row-list {
  margin: 0 auto 2rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  width: 60rem;
  list-style: none;
  justify-content: center;
  /* align-items: center; */
  /* place-items: center; */
  overflow-x: auto;
  background: rgb(255, 255, 255, 0.1);
  border-radius: 5px;
}

@media screen and (min-width: 900px) {
  .ships-row-list {
    width: 90vw;
  }
}
