.spaceship {
  text-align: center;
  padding-bottom: 10%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.spaceship h1, h4 {
  padding: 0.5rem;
  margin: 1rem;
  color: #EFEFEF;
}

.spaceship ul {
  list-style: none;
  padding: 0;
  margin: 0 10rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.spaceship li {
  background-color: rgba(26, 143, 189, 0.274);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

.spaceship article {
  display: inline-block;
}

.spaceship li:hover {
  transform: translateY(-5px);
}

.spaceship img {
  width: 100%;
  max-height: 15rem;
  object-fit: cover;
}

.spaceship p {
  margin: 0;
}

.spaceship .ship-info {
  padding: 1rem;
  font-size: smaller;
  color: #ffffff;
}

.spaceship .price {
  font-weight: bold;
  color: #ca7d1f;
  text-align: end;
  padding: 0 0.5rem 0.5rem 0;
}
