.article {
  width: 33.33%;
  max-width: 240px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.8rem;
  text-align: center;
  color: #343030eb;
  text-shadow: 1px 1px 2px #908888;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.7),
    rgba(141, 138, 138, 0.7),
    rgba(169, 169, 169, 0.7)
  );

  .info {
    flex-grow: 1;
    height: 25%;
    position: relative;

    h2 {
      text-transform: uppercase;
      font-weight: 100;
      margin: 0.5rem auto;
    }
  }

  > p {
    height: 33%;
    flex-grow: 1;
  }

  .progress {
    font-size: x-small;
    margin-bottom: 1rem;

    p {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .article {
    padding: 3%;
    font-size: 1vw;

    .info h2 {
      margin: 0.5vh auto;
    }

    .progress {
      font-size: 1vw;
      margin-bottom: 1vh;
    }
  }
}
