.slides-container {
  margin: 1rem auto;
  width: 100%;
  max-width: 960px;
  display: flex;
  overflow: auto;
  border-radius: 5px;
  background: linear-gradient(to bottom right, rgba(126, 120, 123, 0.8), rgba(6, 6, 6, 0.8));
  box-shadow: 15px 30px 60px hwb(0 0% 100%);

  .slideshow {
    width: 66.67%;
    display: flex;
    place-items: center;
    margin: 0;
    padding: 3rem;
    flex-shrink: 0;

    img {
      width: 100%;
      height: auto;
      cursor: pointer;
      border-radius: 10px;
      box-shadow: 20px 40px 80px hwb(0 0% 100%);
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .slides-container {
    margin: 1rem auto;

    .slideshow {
      padding: 5%;

      img {
        box-shadow: 10px 20px 40px hwb(0 0% 100%);
        border-radius: 5px;
      }
    }
  }
}
