.expanded {
  grid-column: 1 / -1; /* GRID: this column starts at 1st column and fills remaining space to the last -1 column */
  display: grid; /* unrelated to above. This is for the item content to wrap properly on zoom levels when expanded */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item {
  color: #fffdfd;
  background: #1110108f;
  font-family: 'Orbitron', sans-serif;
  border: 1px solid transparent;

  :hover {
    border-color: #fffdfd;
  }

  > img {
    height: auto;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
  }

  .active-content {
    text-align: center;
    font-size: 0.7rem;
    margin: auto;
    padding: 0.5rem 2rem;

    h3 {
      margin: 0.2rem auto;
    }
    p {
      max-height: 130px;
      max-width: 200px;
      overflow: auto;
      margin: 0;
    }
  }

  .details {
    padding: 0 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;

    h3,
    h4,
    h5 {
      margin: 0;
      font-weight: 100;
    }
  }

  .active-details {
    align-items: center;
    justify-content: center;
    margin: 1rem auto;

    img {
      width: 4rem;
      margin: 0.5rem auto;
    }
  }

  .triangle {
    height: 100%;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
    background: #fffdfd;
  }
}

@media screen and (min-width: 320px) and (max-width: 440px) {
  .expanded {
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  }

  .item {
    .active-content {
      padding: 0.5vw;

      h3 {
        font-size: 50%;
      }
      
      p {
        font-size: 50%;
        height: 10vh;
        margin: 0 5vw;
      }
    }

    .details {
      h3,
      h4,
      h5 {
        font-size: 45%;
      }
    }

    .active-details {
      margin: 0.5rem 0;

      img {
        width: 15%;
        margin: 0.1rem;
      }

      /* the below styles apply to nested elements in CartButtons. Styled here so the media queries do not apply to CartButtons in Modal */
      p {
        font-size: 20%;
        text-wrap: nowrap;
        svg {
          font-size: 150%;
        }
      }

      button {
        border: 0;
        padding: 0 1vw;
      }

      svg {
        font-size: 50%;
      }
    }
  }
}
