.item {
  color: #fffdfd;
  background: #1110108f;
  font-family: 'Orbitron', sans-serif;
}

.expanded {
  grid-column: 1 / -1; /* GRID: this column starts at 1st column and fills remaining space to the -1 last column */
  display: flex;
  flex-wrap: wrap;
}

.item img {
  height: auto;
  width: 100%;
  max-width: 400px;
}

.details {
  padding: 0.5rem;
}

.details * {
  margin: 0;
  font-weight: 100;
}

.item:hover {
  border: 1px solid #fffdfd;
}

@media (max-width: 440px) {
  /* .item img {
    max-width: 300px;
  } */
}
