.grid {
  list-style: none;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: dense; /* GRID: Fills gaps between children when one <li> is expanded */
}

@media screen and (min-width: 320px) and (max-width: 440px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  }
}
