.content {
  display: flex;
  flex-direction: column;
  flex: 0.9;
  max-height: 465px;
  width: 400px;
  margin: 1rem auto;
  text-shadow: 2px 4px 4px #151515;
  color: #f0f8ff;
  background: linear-gradient(to bottom right, #7e787bcc, #060606cc);
  box-shadow: 2px 4px 4px #2e2e2e80;
  line-height: 1.5;
  border-radius: 5px;
  border-bottom: 2rem solid #424649dd;
  box-sizing: border-box;

  h3 {
    padding: 0.8rem;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-weight: 100;
    text-align: center;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(to bottom, #5a5d60dd, #807d7dcc);
  }

  p {
    overflow: auto;
    padding: 1rem 2rem;
    margin: 0;
    font-weight: 100;
    text-align: justify;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .content {
    margin: 1vh auto 0;
    border-bottom: 2vw solid #424649dd;
    font-size: 1.5vw;

    h3 {
      padding: 0.8vw;
    }

    p {
      padding: 1vw 2vw;
    }
  }
}
