.overlay {
  background: linear-gradient(
    to bottom,
    hsla(90, 4%, 71%, 0),
    hsla(45, 5%, 71%, 0.1),
    hsla(43, 3%, 45%, 0.3),
    hsla(20, 2%, 28%, 0.6),
    hsla(223, 7%, 20%, 0.7)
  );
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.2rem;
  place-items: center;
  width: 100%;
  max-width: 12.5rem;
  margin: 1rem auto; /* adjust this if form becomes the final element in the overlay */

  button {
    color: rgb(235, 222, 222);
    background-color: transparent;
    text-shadow: 1px 2px 2px rgb(23, 23, 23);
    border-radius: 10px;
    padding: 0;
    border: none;
  }
}

@media screen and (min-width: 440px) {
  .form {
    max-width: 40rem;
  }
}
