.input {
  color: rgb(235, 222, 222);
  background-color: rgba(240, 248, 255, 0.13);
  text-shadow: 1px 2px 2px rgb(23, 23, 23);
  border-radius: 10px;
  height: 1.5rem;
  margin: 0.5rem 0;
  text-align: center;
  border: none;
  outline: none;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.803);
  text-shadow: 1px 2px 2px rgb(23, 23, 23);
  font-size: smaller;
}

/* override browser autofill colors */
input:-webkit-autofill, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px rgba(23, 23, 23, 0.64) inset;
  -webkit-text-fill-color: rgb(235, 222, 222);
}
