.input {
  color: rgb(235, 222, 222);
  background-color: transparent;
  text-shadow: 1px 2px 2px rgb(23, 23, 23);
  border-radius: 10px;
  height: 1.5rem;
  text-align: center;
  border: none;
  outline: none;
}

.login {
  border-radius: 10px 0 0 10px;
  font-family: 'Orbitron', sans-serif;
}

.datepicker {
  border-radius: 10px;
}

.select {
  width: 165px;
  font-weight: 100;
  font-size: 0.7rem;
}

.select option {
  color: black;
  font-size: 1rem;
}

.input::placeholder {
  color: #ffffffcd;
  text-shadow: 1px 2px 2px rgb(23, 23, 23);
  font-size: smaller;
}

/* override browser autofill colors */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffffcd;
}
