.input {
  width: 165px;
  height: 1.5rem;
  color: rgb(235, 222, 222);
  background-color: transparent;
  text-shadow: 1px 2px 2px rgb(23, 23, 23);
  border-radius: 10px;
  text-align: center;
  border: none;
  outline: none;
}

.login {
  border-radius: 10px 0 0 10px;
  font-family: 'Orbitron', sans-serif;
}

.datepicker {
  width: 165px;
  border-radius: 10px;
}

.select {
  width: 165px;
  font-weight: 100;
  font-size: 0.7rem;

  option {
    color: black;
    font-size: 1rem;
  }
}

.input::placeholder {
  color: #ffffffcd;
  text-shadow: 1px 2px 2px rgb(23, 23, 23);
  font-size: smaller;
}

/* override browser autofill colors */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffffcd;
}

@media screen and (min-width: 320px) and (max-width: 440px) {
  .input,
  .datepicker,
  .select {
    height: 1rem;
    width: 125px;
    font-size: 0.7rem;
    font-weight: 100;
  }

  .select {
    font-size: 0.6rem;
    option {
      font-size: 0.8rem;
    }
  }
}
