.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  text-shadow: 2px 4px 4px rgb(21, 21, 21);
  color: aliceblue;
  background: linear-gradient(
    to right,
    hsla(198, 39%, 28%, 0.79),
    hsla(195, 35%, 19%, 0.768),
    hsla(198, 43%, 11%, 0.725)
  );
  padding: 0 2rem;
  margin: 1rem;
  box-shadow: 2px 4px 4px rgba(46, 46, 46, 0.5);
  line-height: 1.5;
  border-radius: 15px;
  box-sizing: border-box; /* apply me app wide once you finished */
  border-top: 2rem solid transparent; /* prevents overflow content from touching the edge*/
  border-bottom: 2rem solid transparent;
}

.content h3 {

}

.content p {
  overflow: auto;
}
