.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 540px;
  padding: 0 2rem;
  margin: 1rem auto;
  text-align: center;
  text-shadow: 2px 4px 4px rgb(21, 21, 21);
  color: rgb(240, 248, 255);
  background: linear-gradient(
    to right,
    hsla(198, 39%, 28%, 0.79),
    hsla(195, 35%, 19%, 0.768),
    hsla(198, 43%, 11%, 0.725)
  );
  box-shadow: 2px 4px 4px rgba(46, 46, 46, 0.5);
  line-height: 1.5;
  border-radius: 15px;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  box-sizing: border-box;
}

.content h3 {

}

.content p {
  overflow: auto;
}

/* tested on Chrome, FireFox & Edge. 1159.5px is precise breaking point between
content wrap and media query kicking in. May change later */
@media screen and (max-width: 1159.5px) {
  .content {
    border-radius: 0;
  }
}
