.section {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 2rem auto;
  gap: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 720px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .section {
    margin: 1vh auto;
    gap: 1vh;
  }
}
