.footer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 2rem;
}

@media screen and (min-width: 320px) and (max-width: 440px) {
  .footer {
    padding-top: 1rem;
  }
}
