.error {
  margin: 2rem auto;
  text-align: center;
  font-family: 'Orbitron', sans-serif;

  img {
    width: 300px;
    cursor: pointer;
  }

  h2 {
    font-weight: 100;
    margin: 0 0 0.5rem;
    color: #ffffff;
  }

  p {
    font-size: 1.5rem;
    margin: 0.5rem;
    color: #dc3545;
    text-shadow: 1px 1px 2px #1b1a1a;
    cursor: pointer;
  }
}
