.order {
  width: 12rem;
  font-family: 'Orbitron', sans-serif;
  border-radius: 15px;
  color: #F5F5F5;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.order h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.order h3,
.order h4 {
  font-weight: 100;
  margin: 0.5rem 0;
}

.top {
  padding: 1rem 1.4rem 0;
}

.items {
  height: 8rem;
  list-style: none;
  padding: 1rem;
  background: linear-gradient(to right, #060c0f, #111e23, #22404d);
}

.bottom {
  padding: 0 1.4rem 1rem;
}

.top h4, .bottom h4 {
  color: #87cefa;
}

.bottom p {
  margin: 0;
  text-align: end;
}

.top h4, .bottom h4 {
  text-align: end;
}

.address {
  margin: 0 auto;
}
