.nav {
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  padding: 0;
  gap: 2vw;
  list-style: none;
}

.nav a {
  text-decoration: none;
  font-size: 2vw;
  color: #EFEFEF;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  transition: 0.4s ease-in-out;
}

.nav a:hover {
  color: #3587ad;
}

.active {
  position: relative;
  display: inline-block;
  padding: 0.9vh 1.5vw;
}

.ufo {
  margin-left: 35%;
  width: 6vw;
  height: 4vw;
  background: url('ufo-svgrepo-com.svg') center/cover no-repeat;
}

.active:hover {
  background: transparent;
}

.active-tab {
  margin-top: 0.5rem;
  border: 0.3vh solid #3587ad;
  border-radius: 8px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
