.item {
  display: flex;
  border-radius: 4px;

  img {
    width: 5rem;
    height: 5rem;
    border-radius: 4px 0 0 4px;
  }

  section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 0.5rem;
    border-radius: 0 4px 4px 0;
    background: #1110108f;

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      margin: 0 0.5rem;
      width: 10rem;

      * {
        font-weight: 100;
        margin: 0;
      }
    }
  }
}

@media (max-width: 440px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .item {
    img {
      width: 4rem;
      height: 4rem;
    }

    section {
      .details {
        width: 5rem;
      }

      .details *,
      p {
        font-size: x-small;
      }
    }
  }
}
