.cart {
  display: flex;
  flex-direction: column;
  font-family: 'Orbitron', sans-serif;
  background: #565050ef;
  color: #fffdfd;
  padding: 1rem;
  border-radius: 3px;
}

.cart h2 {
  margin: 0;
  text-align: center;
}

.cart button {
  font-family: 'Orbitron', sans-serif;
  color: #fffdfd;
  border: 1px solid #fffdfd;
  border-radius: 3px;
  background: #1110108f;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  margin-right: 0.5rem;
  transition: 0.5s ease;
}

.cart button:hover {
  color: #1110108f;
  border: 1px solid #1110108f;
  background: #fffdfd;
  transform: scale(1.1);
}

.cart button:disabled {
  background: transparent;
  pointer-events: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
  list-style: none;
  padding: 1rem;
  height: 10rem;
  border-top: 1px solid hsla(0, 0%, 80%, 0.36);
  border-bottom: 1px solid hsla(0, 0%, 80%, 0.36);
}

/* styles for header button to open cart */
.header {
  display: flex;
  margin: 0 1rem;
}

.header button {
  color: #fffdfd;
  background: none;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.header p {
  font-family: 'Orbitron', sans-serif;
  font-size: larger;
  margin: 0;
  width: 2rem;
}

@media (max-width: 440px) {
  .cart h2 {
    font-size: small;
  }
}
