.city {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2rem;

  div {
    height: 120px;

    img {
      width: 120px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 440px) {
  .city {
    margin-top: 0;

    div {
      height: 70px;

      img {
        width: 70px;
      }
    }
  }
}
