.header {
  text-align: center;
  color: rgb(234, 229, 219);
  text-shadow: 2px 4px 4px rgb(21, 21, 21);
  background: linear-gradient(
    to right,
    hsla(210, 100%, 23%, 0.486),
    hsla(60, 43%, 82%, 0.353)
  );
  padding: 1rem;
}
