.slides-container {
  margin: 2rem auto 5rem;
  max-width: 960px;
  display: flex;
  overflow: auto;
  border-radius: 5px;
  background: linear-gradient(
    to bottom right,
    rgba(126, 120, 123, 0.8),
    rgba(6, 6, 6, 0.8)
  );
  box-shadow: 15px 30px 60px hwb(0 0% 100%);
}

.slideshow {
  max-width: 640px;
  padding: 4%;
  display: flex;
  place-items: center;
}

.slideshow img {
  max-width: inherit;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 20px 40px 80px hwb(0 0% 100%);
}
