.slides-container {
  margin: 5% auto;
  max-width: 960px;
  display: flex;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.picture-frame {
  max-width: 640px;
  padding: 4%;
  background: #EEE;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow {
  /* object-fit: contain; */
  max-width: inherit;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article {
  padding: 2rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  background: hsla(0, 0%, 0%, 0.495);
  color: #EEE;
}
