/* for grid layout */
.ship-grid {
  padding-left: 5%; /* configure for responsiveness */
  padding-right: 5%;
  margin: 2rem auto; /* configure for responsiveness */
  display: grid;
  grid-gap: 1.5rem;
  list-style: none;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* for scrollX layout */
.ship-rows {
  margin: 2rem 0 0;
  padding: 2rem 3% 1rem;
  display: flex;
  gap: 1rem;
  list-style: none;
  overflow-x: auto;
  background-color: rgba(47, 49, 54, 0.7);
}
