.cards {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-content: center;
  place-items: center;
  margin: 2rem 0 0;
  gap: 1rem;
  background: black;
  padding: 2rem 0;
}
