.cards {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0 0;
  padding: 2rem 0;
  gap: 0;
  background: linear-gradient(
    to bottom,
    rgba(25, 57, 94, 0.6),
    rgba(25, 57, 94, 0.9)
  ),
  repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7) 2px,
    rgba(200, 200, 200, 0.9) 2px,
    rgba(200, 200, 200, 0.9) 4px
  );
}

.pair {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (min-width: 320px) and (max-width: 440px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .cards {
    margin: 1rem 0 0;
  }
}
