.cards {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0 0;
  gap: 0;
  background: url('/planet.jpg') center/cover no-repeat;
  padding: 2rem 0;
}

.pair {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
