.banner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 1rem 0;
  overflow: auto;
  color: #fffdfd;
  background: #1110108f;
  font-family: 'Orbitron', sans-serif;
}

.card {
  display: flex;
  align-items: center;
  width: 800px;
  height: 365px;
  font-weight: 100;
  text-align: center;
}

.card p {
  font-size: 2rem;
  font-weight: 100;
  width: 200px;
}

.card img {
  margin: 2rem 4rem;
  width: 300px;
  box-shadow: 5px 5px 10px #0f0e0e8f;
}

.left img {
  border-radius: 15px 100px 15px 100px;
}

.left > p:first-child {
  margin-top: 5rem;
}

.left > p:last-child {
  margin-bottom: 4rem;
}

.centre img {
  border-radius:  15px 15px 100px 100px;
}

.centre > p:first-child {
  margin-bottom: 5rem;
}

.right img {
  border-radius: 100px 15px 100px 15px;
}

.right > p:first-child {
  margin-bottom: 10rem;
}

.right > p:last-child {
  margin-top: 8rem;
}

.banner button {
  background: transparent;
  border: none;
  width: 4rem;
}

.banner button:active, button.selected {
  border: 1px solid #fffdfd;
}

.banner svg {
  font-size: 4rem;
  color: #fffdfd;
}
