.booking {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  place-content: center;
  cursor: pointer;
}

.booking p, .booking h5, .booking h6 {
  margin: 0;
}

.booking h6 {
  color: #c6a872;
}

.booking img, .details {
  width: 11.5rem;
  height: 6.5rem;
}

.booking img {
  border-radius: 10px 0 0 10px;
  position: relative;
  z-index: 1;
  transition: transform 0.2s ease-in-out;
}

.booking img:hover {
  transform: scale(1.1) translateX(10px);
}

.details {
  padding: 0.6rem;
  background: linear-gradient(to right, #2c3e50, #5486a898);
  text-align: center;
  box-sizing: border-box;
  border-radius: 0 10px 10px 0;
  position: relative;
  z-index: 0;
  transition: filter 0.5s ease-in-out;
}

.details:hover {
  filter: invert(100%);
}

.row {
  display: flex;
  gap: 1rem;
  margin: 0.3rem 0;
  justify-content: space-around;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0.5px 0.5px 1px #3e3a3a;
  font-size: 0.6rem;
}

.col {
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  .booking img {
    border-radius: 10px 10px 0 0;
  }
  .booking img:hover {
    transform: scale(1.1) translateY(10px);
  }
  .details {
    border-radius: 0 0 10px 10px;
  }
}
