.booking {
  background: linear-gradient(to right, #2c3e50, #3498db);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  place-items: center;
  box-sizing: border-box;
  /* align-items: center; */
  /* align-content: center; */
  /* place-content: center; */
  /* justify-items: center; */
  /* justify-content: center; */
}

.ship {
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
}

.ship h5, .ship h6 {
  margin: 0;
  color: #f0f8ff;
}

.ship img {
  width: 400px;
  /* width: inherit; */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0 10%;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
