.portal {
  display: flex;
  color: #ffffff;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
  max-width: 100vw;
}

.portal ul {
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.user {
}

.user p {
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin: 0.5rem;
}

.bookings {
  height: 150px;
}
