.portal {
  display: flex;
  color: #ffffff;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
  max-width: 100vw;
}

.user, .bookings {
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.user {
}

.bookings {
}
