.booking {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  place-content: center;
  cursor: pointer;

  img,
  .details {
    width: 12.5rem;
    height: 8rem;
  }

  img {
    border-radius: 10px 0 0 10px;
    position: relative;
    z-index: 1;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1) translateX(10px);
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    place-content: center;
    padding: 0.6rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
    position: relative;
    z-index: 0;
    background: linear-gradient(to right, #2c3e50, #5486a898);
    transition: filter 0.5s ease-in-out;

    &:hover {
      filter: invert(100%);
    }

    /* prettier-ignore */
    p, h5, h6 {
      margin: 0;
    }

    h6 {
      color: #c6a872;
    }

    .row {
      display: flex;
      gap: 1rem;
      margin: 0.3rem 0;
      justify-content: space-around;
      align-items: center;
      font-family: 'Orbitron', sans-serif;
      text-shadow: 0.5px 0.5px 1px #3e3a3a;
      font-size: 0.6rem;

      .col {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 448px) and (pointer: fine) and (hover: hover),
  screen and (max-width: 335px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .booking {
    img {
      border-radius: 10px 10px 0 0;

      &:hover {
        transform: scale(1.1) translateY(10px);
      }
    }

    .details {
      border-radius: 0 0 10px 10px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 440px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .booking {
    img,
    .details {
      width: 8.5rem;
      height: 5rem;
    }

    .details {
      /* prettier-ignore */
      h5, h6 {
        font-size: 0.5rem;
      }

      .row {
        gap: 0.5rem;
        margin: 0.25rem 0;
        font-size: 0.4rem;
      }
    }
  }
}
