.asteroids {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 0.5rem;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: 0.5s ease-in-out;

  &:hover {
    border: 2px solid #ffffff;
    border-top: 2px solid transparent;
  }

  div {
    display: flex;

    img {
      width: 10px;
    }
  }
}

@media screen and (max-width: 440px) {
  .asteroids {
    flex-direction: row;
    padding: 0.5rem 0;

    &:hover {
      border-top: 2px solid #ffffff;
    }

    div {
      flex-direction: column;
    }
  }
}
