.planets {
  /* flex: 1 1 x% set as an inline style to provie inner/outer planets different basis portions */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  box-sizing: border-box;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid #ffffff;
    border-top: 2px solid transparent;
    transition: border 0.5s ease-in-out;
  }
}

.active {
  &:hover {
    border: none;
  }
}

@media screen and (max-width: 440px) {
  .planets {
    border: none;

    &:hover {
      border: none;
    }
  }
}
