.planets {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: 0.5s ease-in-out;

  &:hover {
    border: 2px solid #ffffff;
    border-top: 2px solid transparent;
  }

  img {
    /* height: fit-content; */
  }

  /* .mercury {
    width: 24px;
  }
  .venus {
    width: 35px;
    transform: translateY(-15px);
  }
  .earth {
    width: 45px;
    transform: translateY(-30px);
  }
  .mars {
    width: 27px;
    transform: translateY(-40px);
  }
  .jupiter {
    width: 125px;
    transform: translateY(-50px);
  }
  .saturn {
    width: 175px;
    margin: 0 -35px;
    transform: translateY(-30px);
  }
  .uranus {
    width: 75px;
    transform: translateY(20px);
  }
  .neptune {
    width: 60px;
    transform: translateY(60px);
  } */
}

.active {
  justify-self: center;
  flex: 1;
  justify-content: space-evenly;

  &:hover {
    border: none;
  }

  /* .mercury {
    width: 48px;
  }
  .venus {
    width: 70px;
  }
  .earth {
    width: 90px;
  }
  .mars {
    width: 54px;
  }
  .jupiter {
    width: 200px;
  }
  .saturn {
    width: 266px;
  }
  .uranus {
    width: 133px;
  }
  .neptune {
    width: 106px;
  } */
}

@media screen and (max-width: 440px) {
  .planets {
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
    /* justify-content: space-evenly; */

    border: none;

    &:hover {
      border: none;
    }

    /* .mercury {
      width: 12px;
      transform: translateY(-20px) translateX(30px) rotate(85deg);
    }
    .venus {
      width: 20px;
      transform: translateY(-10px) translateX(40px) rotate(55deg);
    }
    .earth {
      width: 25px;
      transform: translateY(-5px) translateX(50px) rotate(55deg);
    }
    .mars {
      width: 15px;
      transform: translateY(0px) translateX(45px) rotate(85deg);
    }
    .jupiter {
      width: 55px;
      transform: translateY(0px) translateX(30px) rotate(65deg);
    }
    .saturn {
      margin: 0;
      width: 75px;
      transform: translateY(0px) translateX(0px) rotate(55deg);
    }
    .uranus {
      width: 35px;
      transform: translateY(0px) translateX(-30px) rotate(55deg);
    }
    .neptune {
      width: 30px;
      transform: translateY(0px) translateX(-50px) rotate(50deg);
    } */
  }

  .active {
    /* flex-direction: column; */


    /* .mercury {
      width: 25px;
    }
    .venus {
      width: 35px;
    }
    .earth {
      width: 40px;
    }
    .mars {
      width: 30px;
    }
    .jupiter {
      width: 75px;
    }
    .saturn {
      width: 100px;
    }
    .uranus {
      width: 60px;
    }
    .neptune {
      width: 50px;
    } */
  }
}
