.planet {
  box-sizing: border-box;
  position: relative;

  img {
    height: fit-content;
  }

  p {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0.1rem 0.3rem;
    border-radius: 3px;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;
    background: #80808044;
    box-shadow: 1px 1px 2px #00000084;
  }
}
