.planets {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: 0.5s ease-in-out;

  &:hover {
    border: 2px solid #ffffff;
    border-top: 2px solid transparent;
  }
}

.active {
  justify-self: center;
  flex: 1;
  justify-content: space-evenly;

  &:hover {
    border: none;
  }
}

@media screen and (max-width: 440px) {
  .planets {
    border: none;

    &:hover {
      border: none;
    }
  }
}
