.sun {
  flex: 1 1 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid #ffffff;
    border-top: 2px solid transparent;
    transition: border 0.5s ease-in-out;
  }
}

.active {
  &:hover {
    border: none;
  }
}

@media screen and (max-width: 440px) {
  .sun {
    border: none;

    &:hover {
      border: none;
    }
  }
}
